# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/client/*
!run/client/kubejs
run/client/kubejs/*
!run/client/kubejs/startup_scripts
!run/client/kubejs/server_scripts
/mcmodsrepo/

/CHANGELOG.md
